
:root{
    // Primitive
    --color-purple-0: #FBF9FF;
    --color-pink-0: #FFF9FC;
    --color-purple-50: #F3EDFD;
    --color-purple-100: #EBDFFB;
    --color-purple-200: #D4BBF7;
    --color-purple-300: #C09BF3;
    --color-purple-400: #A876EF;
    --color-purple-500: #9556EB;
    --color-purple-600: #6F1BE4;
    --color-purple-700: #5415AD;
    --color-purple-800: #370E72;
    --color-purple-900: #1D073B;
    --color-purple-950: #0D031B;
    --color-pink-50: #FFE5F2;
    --color-pink-100: #FFCCE6;
    --color-pink-200: #FF99CC;
    --color-pink-300: #FF66B3;
    --color-pink-400: #FF3399;
    --color-pink-500: #FF017E;
    --color-pink-600: #CC0066;
    --color-pink-700: #99004D;
    --color-pink-800: #660033;
    --color-pink-900: #33001A;
    --color-gold-0: #FFFDF9;
    --color-pink-950: #19000D;
    --color-gold-50: #FFF9EA;
    --color-gold-100: #FFF0C2;
    --color-gold-200: #FFDF80;
    --color-gold-300: #FFD042;
    --color-gold-400: #FFBF00;
    --color-gold-500: #C29200;
    --color-gold-600: #997300;
    --color-gold-700: #755800;
    --color-gold-800: #4D3900;
    --color-gold-900: #291F00;
    --color-gold-950: #140F00;
    --color-grey-0: #FCFCFC;
    --color-grey-50: #F2F2F2;
    --color-grey-100: #E6E6E6;
    --color-grey-200: #C9C9C9;
    --color-grey-300: #B0B0B0;
    --color-grey-400: #949494;
    --color-grey-500: #797979;
    --color-grey-600: #616161;
    --color-grey-700: #4A4A4A;
    --color-grey-800: #303030;
    --color-grey-900: #1A1A1A;
    --color-grey-950: #0D0D0D;
    --color-black-0: #FCFCFC;
    --color-black-50: #E6E6E6;
    --color-black-100: #CCCCCC;
    --color-black-200: #999999;
    --color-black-300: #666666;
    --color-black-400: #333333;
    --color-black-500: #000000;
    --color-black-600: #000000;
    --color-black-700: #000000;
    --color-black-800: #000000;
    --color-black-900: #000000;
    --color-orange-0: #FFFCF9;
    --color-black-950: #000000;
    --color-orange-50: #FFF2E5;
    --color-orange-100: #FFE6CC;
    --color-orange-200: #FFCC99;
    --color-orange-300: #FFB366;
    --color-orange-400: #FF9933;
    --color-orange-500: #FE7F00;
    --color-orange-600: #CC6600;
    --color-orange-700: #994D00;
    --color-orange-800: #663300;
    --color-orange-900: #331A00;
    --color-orange-950: #190D00;
    --color-yellow-0: #FFFEF9;
    --color-yellow-50: #FFFCE5;
    --color-yellow-100: #FFFACC;
    --color-yellow-200: #FFF599;
    --color-yellow-300: #FFF066;
    --color-yellow-400: #FFEB33;
    --color-yellow-500: #FFE600;
    --color-yellow-600: #CCB800;
    --color-yellow-700: #998A00;
    --color-yellow-800: #665C00;
    --color-yellow-900: #332E00;
    --color-green-0: #F9FFFB;
    --color-yellow-950: #191700;
    --color-green-50: #E1FFEC;
    --color-green-100: #C3FED9;
    --color-green-200: #81FDB1;
    --color-green-300: #45FC8B;
    --color-green-400: #09FB66;
    --color-green-500: #03C04A;
    --color-green-600: #029C3D;
    --color-green-700: #02732D;
    --color-green-800: #014B1E;
    --color-green-900: #012810;
    --color-lime-0: #FDFEFA;
    --color-green-950: #001408;
    --color-lime-50: #F9FCEE;
    --color-lime-100: #F4F9E1;
    --color-lime-200: #EAF4C3;
    --color-lime-300: #DEEDA1;
    --color-lime-400: #D3E883;
    --color-lime-500: #C8E265;
    --color-lime-600: #B5D72D;
    --color-lime-650: #A9C82C;
    --color-lime-700: #89A31F;
    --color-lime-800: #5D7015;
    --color-lime-900: #2F380B;
    --color-teal-0: #F9FEFF;
    --color-lime-950: #161A05;
    --color-teal-50: #E1FEFF;
    --color-teal-100: #C2FEFF;
    --color-teal-200: #85FCFE;
    --color-teal-300: #4DFBFE;
    --color-teal-400: #10FAFE;
    --color-teal-500: #01CED1;
    --color-teal-600: #01A5A7;
    --color-teal-700: #017D7F;
    --color-teal-800: #005051;
    --color-teal-900: #002829;
    --color-teal-950: #001414;
    --color-turquoise-0: #F9FDFF;
    --color-turquoise-50: #EBF9FE;
    --color-turquoise-100: #D8F3FD;
    --color-turquoise-200: #B1E8FC;
    --color-turquoise-300: #84DBFA;
    --color-turquoise-400: #5DCFF9;
    --color-turquoise-500: #35C4F7;
    --color-turquoise-600: #09ACE7;
    --color-turquoise-700: #0780AC;
    --color-turquoise-800: #055876;
    --color-turquoise-900: #022C3B;
    --color-blue-0: #F9FCFF;
    --color-turquoise-950: #01161D;
    --color-blue-50: #E5F2FF;
    --color-blue-100: #CCE6FF;
    --color-blue-200: #99CCFF;
    --color-blue-300: #66B3FF;
    --color-blue-400: #3399FF;
    --color-blue-500: #0080FF;
    --color-blue-600: #0066CC;
    --color-blue-700: #004D99;
    --color-blue-800: #003366;
    --color-blue-900: #001A33;
    --color-blue-950: #000D19;
    --color-indigo-0: #F9F9FF;
    --color-indigo-50: #F2F2FD;
    --color-indigo-100: #E5E5FB;
    --color-indigo-200: #C7C6F6;
    --color-indigo-300: #ADACF1;
    --color-indigo-400: #8F8DEC;
    --color-indigo-500: #7473E8;
    --color-indigo-600: #3835DE;
    --color-indigo-700: #201DB4;
    --color-indigo-800: #151376;
    --color-indigo-900: #0B0A3D;
    --color-indigo-950: #05051F;
    --color-red-0: #FFFAF9;
    --color-red-50: #FFE7E5;
    --color-red-100: #FFCFCC;
    --color-red-200: #FF9E99;
    --color-red-300: #FF6E66;
    --color-red-400: #FF3D33;
    --color-red-500: #FF0C00;
    --color-red-600: #CC0A00;
    --color-red-700: #990800;
    --color-red-800: #660500;
    --color-red-900: #330300;
    --color-red-950: #190100;
    --number-none: 0;
    --number-1px: 1;
    --number-2px: 2;
    --number-4px: 4;
    --number-6px: 6;
    --number-8px: 8;
    --number-12px: 12;
    --number-16px: 16;
    --number-20px: 20;
    --number-24px: 24;
    --number-32px: 32;
    --number-40px: 40;
    --number-full: 999;
    --color-blackalpha-0: #000000;
    --color-blackalpha-50: #0000000C;
    --color-blackalpha-100: #00000019;
    --color-blackalpha-200: #00000033;
    --color-blackalpha-300: #0000004C;
    --color-blackalpha-400: #00000066;
    --color-blackalpha-500: #0000007F;
    --color-blackalpha-600: #00000099;
    --color-blackalpha-700: #000000B2;
    --color-blackalpha-800: #000000CC;
    --color-blackalpha-900: #000000E5;
    --color-blackalpha-950: #000000;




    // Semantic

    --bg-bg-card: var(--color-yellow-0);
    --bg-bg-soul: #FFFFFF;
    --bg-bg-canvas: var(--color-gold-50);
    --bg-bg-warning: var(--color-yellow-500);
    --bg-bg-error: var(--color-red-500);
    --bg-bg-success: var(--color-green-500);
    --bg-bg-brand: var(--color-lime-500);
    --bg-bg-king: var(--color-teal-500);
    --bg-bg-queen: var(--color-pink-400);
    --bg-bg-card-inverse: var(--color-yellow-950);
    --bg-bg-canvas-inverse: var(--color-gold-950);
    --bg-bg-brand-inverse: var(--color-lime-950);
    --bg-button-bg-btn-primary-idle: var(--color-lime-500);
    --bg-button-bg-btn-primary-hover: var(--color-lime-650);
    --bg-button-bg-btn-primary-active: var(--color-lime-600);
    --bg-button-bg-btn-primary-pressed: var(--color-lime-650);
    --bg-button-bg-btn-secondary-idle: var(--color-grey-0);
    --bg-button-bg-btn-secondary-hover: var(--color-grey-50);
    --bg-button-bg-btn-secondary-active: var(--color-grey-0);
    --bg-button-bg-btn-secondary-pressed: var(--color-grey-50);
    --bg-button-bg-btn-primary-inverse: var(--color-lime-100);
    --bg-button-bg-btn-warning-idle: var(--color-yellow-400);
    --bg-button-bg-btn-warning-hover: var(--color-yellow-500);
    --bg-button-bg-btn-warning-active: var(--color-yellow-500);
    --bg-button-bg-btn-warning-pressed: var(--color-yellow-600);
    --bg-button-bg-btn-warning-inverse-idle: var(--color-yellow-50);
    --bg-button-bg-btn-warning-inverse-hover: var(--color-yellow-100);
    --bg-button-bg-btn-error-idle: var(--color-red-500);
    --bg-button-bg-btn-error-hover: var(--color-red-700);
    --bg-button-bg-btn-error-active: var(--color-red-700);
    --bg-button-bg-btn-error-pressed: var(--color-red-700);
    --bg-button-bg-btn-error-inverse-idle: var(--color-red-50);
    --bg-button-bg-btn-error-inverse-hover: var(--color-red-100);
    --bg-button-bg-btn-success-idle: var(--color-green-600);
    --bg-button-bg-btn-success-hover: var(--color-green-700);
    --bg-button-bg-btn-success-active: var(--color-green-700);
    --bg-button-bg-btn-success-pressed: var(--color-green-800);
    --bg-button-bg-btn-success-inverse-idle: var(--color-green-50);
    --bg-button-bg-btn-success-inverse-hover: var(--color-green-50);
    --bg-button-bg-btn-disabled: var(--color-grey-100);
    --bg-input-bg-input-idle: var(--color-grey-0);
    --bg-input-bg-input-hover: var(--color-grey-50);
    --bg-input-bg-input-active: var(--color-grey-0);
    --bg-input-bg-input-pressed: var(--color-grey-50);
    --bg-input-bg-input-error: var(--color-red-50);
    --bg-input-bg-input-disabled: var(--color-grey-50);
    --text-text-label: var(--color-lime-900);
    --border-border-focus: var(--color-blue-500);
    --border-border-card: var(--color-grey-200);
    --border-button-border-btn-idle: var(--color-grey-400);
    --border-button-border-btn-hover: var(--color-grey-500);
    --border-button-border-btn-active: var(--color-grey-400);
    --border-button-border-btn-pressed: var(--color-grey-500);
    --border-button-border-btn-disabled: var(--color-grey-200);
    --border-button-border-btn-primary-idle: var(--color-lime-500);
    --border-button-border-btn-primary-hover: var(--color-lime-700);
    --border-button-border-btn-primary-active: var(--color-lime-50);
    --border-button-border-btn-primary-pressed: var(--color-lime-300);
    --border-button-border-btn-warning-idle: var(--color-yellow-500);
    --border-button-border-btn-warning-hover: var(--color-yellow-700);
    --border-button-border-btn-warning-active: var(--color-yellow-100);
    --border-button-border-btn-warning-pressed: var(--color-yellow-300);
    --border-button-border-btn-success-idle: var(--color-green-500);
    --border-button-border-btn-success-hover: var(--color-green-700);
    --border-button-border-btn-success-active: var(--color-green-100);
    --border-button-border-btn-error-idle: var(--color-red-500);
    --border-button-border-btn-error-hover: var(--color-red-600);
    --border-button-border-btn-error-active: var(--color-red-700);
    --border-button-border-btn-error-pressed: var(--color-red-300);
    --border-input-border-input-idle: var(--color-grey-200);
    --border-input-border-input-hover: var(--color-grey-300);
    --border-input-border-input-active: var(--color-grey-300);
    --border-input-border-input-pressed: var(--color-grey-400);
    --border-input-border-input-error: var(--color-red-300);
    --border-input-border-input-disabled: var(--color-grey-100);
    --text-text-label-inverse: var(--color-lime-50);
    --text-text-warning: var(--color-yellow-700);
    --text-text-warning-inverse: var(--color-yellow-50);
    --text-text-success: var(--color-green-800);
    --text-text-success-inverse: var(--color-green-0);
    --text-text-error: var(--color-red-700);
    --text-text-error-inverse: var(--color-red-0);
    --text-text-disabled: var(--color-grey-200);
    --text-text-display: var(--color-grey-800);
    --text-text-display-inverse: var(--color-grey-0);
    --text-text-headline: var(--color-grey-900);
    --text-text-headline-inverse: var(--color-grey-0);
    --text-text-title: var(--color-grey-900);
    --text-text-title-inverse: var(--color-grey-0);
    --text-text-body: var(--color-grey-800);
    --text-text-body-inverse: var(--color-grey-50);
    --text-text-subtitle: var(--color-grey-600);
    --text-text-subtitle-inverse: var(--color-grey-50);
    --text-text-caption: var(--color-grey-600);
    --text-text-caption-inverse: var(--color-grey-50);
    --text-link-link-idle: var(--color-blue-600);
    --text-link-link-hover: var(--color-blue-700);
    --text-link-link-active: var(--color-blue-700);
    --text-link-link-presssed: var(--color-blue-800);
    --text-link-link-inverse: var(--color-blue-50);
    --icon-icon-primary-idle: var(--color-black-300);
    --icon-icon-primary-hover: var(--color-black-500);
    --icon-icon-primary-pressed: var(--color-black-600);
    --icon-icon-primary-inverse: var(--color-grey-0);
    --icon-icon-brand: var(--color-lime-600);
    --icon-icon-error-idle: var(--color-red-600);
    --icon-icon-disabled: var(--color-black-100);
    --icon-icon-error-inverse: var(--color-red-0);
    --icon-icon-warning: var(--color-yellow-600);
    --icon-icon-warning-inverse: var(--color-yellow-0);
    --icon-icon-success: var(--color-green-600);
    --icon-icon-success-inverse: var(--color-green-0);
    --icon-icon-link: var(--color-blue-600);
    --exceptions-alpha-50: var(--color-blackalpha-50);
    --exceptions-alpha-100: var(--color-blackalpha-100);
    --exceptions-gold: var(--color-gold-400);
    --exceptions-turquoise: var(--color-turquoise-600);
    --text-text-brand: var(--color-lime-500);
}