.#{$classPrefix}-paintfield-wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

    input{
        width: 100%;
        padding: 8px 12px;
        margin-left: 0;

        border-radius: 0px 4px 4px 0px;
        border: 1px solid var(--Border-button-border-btn-idle, #949494);
        background: var(--Bg-input-bg-input-idle, #FCFCFC);
        &:focus{
            border-radius: 0px 4px 4px 0px;
        }
    }

    .#{$classPrefix}-color-code{
        display: flex;
        width: 100%;
        border-radius: 4px 0px 0px 4px;
        border-top: var(--Number-1px, 1px) solid var(--Border-button-border-btn-idle, #949494);
        border-bottom: var(--Number-1px, 1px) solid var(--Border-button-border-btn-idle, #949494);
        border-left: var(--Number-1px, 1px) solid var(--Border-button-border-btn-idle, #949494);
        background: var(--Bg-input-bg-input-idle, #FCFCFC);
        overflow: hidden;
    }
    .sketch-picker{
        position: relative;
        top: 34px;
    }
}
    