.#{$classPrefix}-paintfield-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  input {
    width: 100%;
    padding: 7px 12px;
    margin-left: 0;

    border-radius: 0px 4px 4px 0px;
    border: 1px solid var(--border-input-border-input-idle, #c9c9c9);
    background: var(--Bg-input-bg-input-idle, #fcfcfc);
    line-height: 20px;

    &:focus {
      border-radius: 0px 4px 4px 0px;
    }
  }

  .#{$classPrefix}-color-code {
    display: flex;
    width: 100%;
    border-radius: 4px 0px 0px 4px;
    border-top: 1px solid var(--border-input-border-input-idle, #c9c9c9);
    border-bottom: 1px solid var(--border-input-border-input-idle, #c9c9c9);
    border-left: 1px solid var(--border-input-border-input-idle, #c9c9c9);
    background: var(--Bg-input-bg-input-idle, #fcfcfc);
    // overflow: hidden;
    position: relative;
  }

  .sketch-picker {
    position: relative;
    top: 34px;
  }
}
