.#{$classPrefix}-paintfield-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  input {
    width: 100%;
    padding: 7px 12px;
    margin-left: 0;

    border-radius: 0px 4px 4px 0px;
    border: 1px solid var(--border-input-border-input-idle, #c9c9c9);
    background: var(--Bg-input-bg-input-idle, #fcfcfc);
    line-height: 20px;

    &:focus {
      border-radius: 0px 4px 4px 0px;
    }
  }

  .#{$classPrefix}-color-code {
    display: flex;
    width: 100%;
    border-radius: 4px 0px 0px 4px;
    border-top: 1px solid var(--border-input-border-input-idle, #c9c9c9);
    border-bottom: 1px solid var(--border-input-border-input-idle, #c9c9c9);
    border-left: 1px solid var(--border-input-border-input-idle, #c9c9c9);
    background: var(--Bg-input-bg-input-idle, #fcfcfc);
    // overflow: hidden;
    position: relative;
  }

  .sketch-picker {
    position: relative;
    top: 34px;
  }
  .#{$classPrefix}-color-none {
    position: absolute;
    bottom: 2px;
    left: 10px;
    background: transparent;
    height: 16px;
    width: 16px;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
    overflow: hidden;
    div {
      height: 1px;
      width: 22px;
      background: red;
      left: -4px;
      transform: rotate(-45deg);
      top: 8px;
      position: relative;
    }
  }
}
